
.search-form
%p= "Find the perfect dish for you"
-# form_tag search_recipes_path, method: :get do |f|
  - text_field_tag :search, nil, placeholder: "steaks, burgers, hotdogs, etc."
  - select_tag :cuisine, options_for_select(Cuisine.all.map{ |c| [c.name, c.id]})
  - submit_tag 'Search'


.search_form
=form_tag({controller: :recipes, action: :search}, {method: :get}) do |f|
  .search_field
    =text_field_tag :search, nil, placeholder: "steaks, burgers, hotdogs, etc."
    =select_tag :cuisine, options_for_select(Cuisine.all.map{ |c| [c.name, c.id]})
    =select_tag :diet, options_for_select(Diet.all.map{ |c| [c.name, c.id]})
    =submit_tag 'Search', {class: "btn span2 btn-realto-form btn_large"}




- @recipes.each do |recipe|
  .option
    %h2= recipe.name
    %p= recipe.description
    %p= recipe.cuisine_id
    -recipe.highlights.each do |ingredient|
      %p= ingredient
