
-x= 1
- @recipes.each do |recipe|
  .feed-element.front-on-click
    - x = x + 1
    %h2= link_to recipe.name, recipe
    %p= recipe.description
    %p= recipe.cuisine_id
    -recipe.highlights.each do |ingredient|
      %p= ingredient
  .popup.popup_feed_hidden
    %p= recipe.description
    %p= recipe.cuisine_id
    %span.closing_button= 'x'
    =button_to "Start cooking", recipe, method: :get, class: :search
